<div
  id="our-vision"
  class="mb-18"
>
  {{if {this.title} }}
  <h4 class="fw-normal px-md-5 px-sm-0 mb-8">{{this.title}}</h4>
  {{/if}}

  <div class="row g-4">
    <!-- Left column -->
    <div class="col-12 col-md-6">
      <div
        class="bg-light h-100 rounded-5 p-5"
        style="min-height: 230px"
      >
        <div class="mb-2 d-flex align-items-center gap-2">
          <span class="material-symbols-outlined text-secondary-200 service-icon">
            {{this.left_column_icon}}
          </span>
          <p class="text-secondary-200 fs-6 mb-0">{{this.left_column_title}}</p>
        </div>
        <div>
          <p class="text-dark-50 m-0">{{this.left_column_description}}</p>
        </div>
      </div>
    </div>

    <!-- Right column -->
    <div class="col-12 col-md-6">
      <div
        class="bg-light h-100 rounded-5 p-5"
        style="min-height: 230px"
      >
        <div class="mb-2 d-flex align-items-center gap-2">
          <span class="material-symbols-outlined text-secondary-200 service-icon">
            {{this.right_column_icon}}
          </span>
          <p class="text-secondary-200 fs-6 mb-0">{{this.right_column_title}}</p>
        </div>
        <div>
          <p class="text-dark-50 m-0">{{this.right_column_description}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
